@page "/elements/table"

@inject HttpClient httpClient

@if (_elements is null)
{
    <Loading />
}
else
{
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <td>Number</td>
                <td>Name</td>
                <td>Sign</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var element in _elements)
            {
                <tr>
                    <td>@element.Number</td>
                    <td>@element.Name</td>
                    <td>@element.Sign</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<ElementData>? _elements;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);

        _elements = await httpClient.GetFromJsonAsync<List<ElementData>>("https://localhost:44371/elements");
    }
}
