@page "/"

<Title Text="Home" />

<h3>Welcome to the Chemistry web.</h3>
<div>Selamat belajar Blazor!</div>

<a href="baru">Ke halaman Baru</a>

<KotakPink Pesan="Ini adalah sebuah tulisan" />
<KotakPink Pesan="Semoga kita semua sehat selalu" />

<KotakKuning />